* {
    margin: 0px;
    font-family: 'Architects Daughter', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav {
    text-align: center;
    height: 150px;
    width: 100%;
}

#add {
    width: 50%;
    height: 30px;
}

button {
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

.list_container {
    border-radius: 10px;
    font-size: 2em;
    height: auto;
}

#ol {
    padding: 0px;
}

li {
    border: 2px solid black;
}

#checked {
    text-decoration: line-through;
}
#li_container {
    padding: 5px;
    margin: 5px;
    display: flex;
}

